## Corey Solitaire
## 8/13
## Dataframes Lesson

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from pydataset import data

   ## 1. Copy the code from the lesson to create a dataframe full of student                  grades.

In [ ]:
np.random.seed(123)

students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# randomly generate scores for each student for each subject
# note that all the values need to have the same length here
math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))

student_grades = pd.DataFrame({'name': students,
                   'math': math_grades,
                   'english': english_grades,
                   'reading': reading_grades})

type(df)

In [ ]:
# a. Create a column named passing_english that indicates whether each student has a passing grade in reading.
student_grades['passing_english'] = student_grades.english > 70
student_grades

In [ ]:
# b. Sort the english grades by the passing_english column. How are duplicates handled?
        
passing_english = student_grades.sort_values(by = 'passing_english')
passing_english
# The sort returns boolean values, so there are no duplicates

In [ ]:
# c. Sort the english grades first by passing_english and then by student name. All the students that are 
#    failing english should be first, and within the students that are failing english they should be ordered 
#    alphabetically. The same should be true for the students passing english. (Hint: you can pass a list to 
#    the .sort_values method)


sorted_grades = student_grades.sort_values(by = 'passing_english').groupby(['passing_english']).apply(lambda x: x.sort_values([
    'name'
]))
sorted_grades

In [ ]:
# d. Sort the english grades first by passing_english, and then by the actual english grade, similar to 
#    how we did in the last step.
             
    
more_sorted_grades = student_grades.sort_values(by = 'passing_english').groupby(['passing_english']).apply(lambda x: x.sort_values([
    'english'
]))
more_sorted_grades

In [ ]:
# e. Calculate each students overall grade and add it as a column on the dataframe. The overall grade is 
#    the average of the math, english, and reading grades.

overall_grade = (student_grades.math + student_grades.english + student_grades.reading) / 3
# overall_grade

student_grades['overall_grade'] = overall_grade
student_grades

## 2.Load the mpg dataset. Read the documentation for the dataset and use it for the following questions:

In [3]:
mpg_df = data('mpg')
mpg_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

In [16]:
# a. How many rows and columns are there?
mpg_df.shape
# Tuple (Rows/Columns)

(234, 11)

In [17]:
mpg_df.info

<bound method DataFrame.info of     manufacturer   model  displ  year  cyl       trans drv  cty  hwy fl  \
1           audi      a4    1.8  1999    4    auto(l5)   f   18   29  p
2           audi      a4    1.8  1999    4  manual(m5)   f   21   29  p
3           audi      a4    2.0  2008    4  manual(m6)   f   20   31  p
4           audi      a4    2.0  2008    4    auto(av)   f   21   30  p
5           audi      a4    2.8  1999    6    auto(l5)   f   16   26  p
..           ...     ...    ...   ...  ...         ...  ..  ...  ... ..
230   volkswagen  passat    2.0  2008    4    auto(s6)   f   19   28  p
231   volkswagen  passat    2.0  2008    4  manual(m6)   f   21   29  p
232   volkswagen  passat    2.8  1999    6    auto(l5)   f   16   26  p
233   volkswagen  passat    2.8  1999    6  manual(m5)   f   18   26  p
234   volkswagen  passat    3.6  2008    6    auto(s6)   f   17   26  p

       class
1    compact
2    compact
3    compact
4    compact
5    compact
..       ...
230  compact
231  compact
232  compact
233  compact
234  compact

[234 rows x 11 columns]>

In [18]:
# b. What are the data types of each column?
mpg_df.dtypes

manufacturer     object
model            object
displ           float64
year              int64
cyl               int64
trans            object
drv              object
cty               int64
hwy               int64
fl               object
class            object
dtype: object

In [19]:
# c. Summarize the dataframe with .info and .describe
mpg_df.info

<bound method DataFrame.info of     manufacturer   model  displ  year  cyl       trans drv  cty  hwy fl  \
1           audi      a4    1.8  1999    4    auto(l5)   f   18   29  p
2           audi      a4    1.8  1999    4  manual(m5)   f   21   29  p
3           audi      a4    2.0  2008    4  manual(m6)   f   20   31  p
4           audi      a4    2.0  2008    4    auto(av)   f   21   30  p
5           audi      a4    2.8  1999    6    auto(l5)   f   16   26  p
..           ...     ...    ...   ...  ...         ...  ..  ...  ... ..
230   volkswagen  passat    2.0  2008    4    auto(s6)   f   19   28  p
231   volkswagen  passat    2.0  2008    4  manual(m6)   f   21   29  p
232   volkswagen  passat    2.8  1999    6    auto(l5)   f   16   26  p
233   volkswagen  passat    2.8  1999    6  manual(m5)   f   18   26  p
234   volkswagen  passat    3.6  2008    6    auto(s6)   f   17   26  p

       class
1    compact
2    compact
3    compact
4    compact
5    compact
..       ...
230  compact
231  compact
232  compact
233  compact
234  compact

[234 rows x 11 columns]>

In [20]:
mpg_df.describe

<bound method NDFrame.describe of     manufacturer   model  displ  year  cyl       trans drv  cty  hwy fl  \
1           audi      a4    1.8  1999    4    auto(l5)   f   18   29  p
2           audi      a4    1.8  1999    4  manual(m5)   f   21   29  p
3           audi      a4    2.0  2008    4  manual(m6)   f   20   31  p
4           audi      a4    2.0  2008    4    auto(av)   f   21   30  p
5           audi      a4    2.8  1999    6    auto(l5)   f   16   26  p
..           ...     ...    ...   ...  ...         ...  ..  ...  ... ..
230   volkswagen  passat    2.0  2008    4    auto(s6)   f   19   28  p
231   volkswagen  passat    2.0  2008    4  manual(m6)   f   21   29  p
232   volkswagen  passat    2.8  1999    6    auto(l5)   f   16   26  p
233   volkswagen  passat    2.8  1999    6  manual(m5)   f   18   26  p
234   volkswagen  passat    3.6  2008    6    auto(s6)   f   17   26  p

       class
1    compact
2    compact
3    compact
4    compact
5    compact
..       ...
230  compact
231  compact
232  compact
233  compact
234  compact

[234 rows x 11 columns]>

In [21]:
# d. Rename the cty column to city.
mpg_df.rename(columns = {'cty':'city'}, inplace = True)
mpg_df

,manufacturer,model,displ,year,cyl,trans,drv,city,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,compact
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,compact
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,compact
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,compact
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,compact

In [22]:
# e. Rename the hwy column to highway.
mpg_df.rename(columns = {'hwy':'highway'}, inplace = True)
mpg_df

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,compact
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,compact
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,compact
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,compact
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,compact

In [23]:
# f. Do any cars have better city mileage than highway mileage?

#This gives the answer but I want to dig deeper
#mpg_df.sort_values(by = 'city', ascending = False)
# pd.set_option("display.max_rows", None)
# city_or_highway = mpg_df.sort_values(by = 'city').groupby(['city']).apply(lambda x: x.sort_values(['highway']))  
# city_or_highway

better_city = (mpg_df.city) >= (mpg_df.highway)
better_city.value_counts()

False    234
dtype: int64

In [24]:
# g. Create a column named mileage_difference this column should contain the difference between highway 
#    and city mileage for each car.

mpg_df['mileage_difference'] = (mpg_df.highway)-(mpg_df.city)
mpg_df

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,compact,9
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,compact,8
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,compact,10
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,compact,8
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,compact,9

In [26]:
# h. Which car (or cars) has the highest mileage difference?

mpg_df.sort_values(by = 'mileage_difference', ascending =False).nlargest(n=1, columns='mileage_difference',  keep='all')

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference
107,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,compact,12
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,compact,12

In [28]:
# i. Which compact class car has the lowest highway mileage? The best?

compact_cars = mpg_df['class'] == 'compact'
mpg_df[compact_cars].sort_values(by = 'mileage_difference').nsmallest(n=1, columns='mileage_difference',  keep='all')



#.groupby(['passing_english'])

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference
204,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,compact,2
177,toyota,4runner 4wd,3.4,1999,6,manual(m5),4,15,17,r,compact,2
152,nissan,pathfinder 4wd,3.3,1999,6,manual(m5),4,15,17,r,compact,2

In [29]:
# Which compact class car has the best highway mileage?
mpg_df[compact_cars].sort_values(by = 'mileage_difference').nlargest(n=1, columns='mileage_difference',  keep='all')

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,compact,12
107,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,compact,12

In [31]:
# j. Create a column named average_mileage that is the mean of the city and highway mileage.

average_mileage = (mpg_df.city + mpg_df.highway) / 2
mpg_df['average_mileage'] = average_mileage
mpg_df

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,compact,9,23.5
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,compact,8,25.0
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,compact,8,22.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,compact,9,21.5

In [37]:
# k. Which dodge car has the best average mileage?
dodge = mpg_df['manufacturer'] == 'dodge'
mpg_df[dodge].sort_values(by = 'average_mileage').nlargest(n=1, columns='average_mileage',  keep='all')

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage
38,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,compact,6,21.0

In [38]:
# Which dodge car has the worst average mileage?

mpg_df[dodge].sort_values(by = 'average_mileage').nsmallest(n=1, columns='average_mileage',  keep='all')

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage
70,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,9,12,e,compact,3,10.5
66,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,compact,3,10.5
60,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,compact,3,10.5
55,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,compact,3,10.5

## 3. Load the Mammals dataset. Read the documentation for it, and use the data to answer these questions:

In [39]:
mammals = data('mammals')
mammals.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62 entries, Arctic fox to Red fox
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   body    62 non-null     float64
 1   brain   62 non-null     float64
dtypes: float64(2)
memory usage: 1.5+ KB

In [ ]:
# a. How many rows and columns are there?

In [ ]:
# b. What are the data types?

In [ ]:
# c. Summarize the dataframe with .info and .describe

In [ ]:
# d. What is the the weight of the fastest animal?

In [ ]:
# e. What is the overal percentage of specials?

In [ ]:
# f. How many animals are hoppers that are above the median speed? What percentage is this?