## Corey Solitaire
## 8/13
## Dataframes Lesson

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from pydataset import data

   ## 1. Copy the code from the lesson to create a dataframe full of student                  grades.

In [13]:
np.random.seed(123)

students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# randomly generate scores for each student for each subject
# note that all the values need to have the same length here
math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))

student_grades = pd.DataFrame({'name': students,
                   'math': math_grades,
                   'english': english_grades,
                   'reading': reading_grades})

type(df)

pandas.core.frame.DataFrame

In [14]:
# a. Create a column named passing_english that indicates whether each student has a passing grade in reading.
student_grades.head()

    name  math  english  reading
0  Sally    62       85       80
1   Jane    88       79       67
2  Suzie    94       74       95
3  Billy    98       96       88
4    Ada    77       92       98

In [ ]:
# b. Sort the english grades by the passing_english column. How are duplicates handled?

In [ ]:
# c. Sort the english grades first by passing_english and then by student name. All the students that are 
#    failing english should be first, and within the students that are failing english they should be ordered 
#    alphabetically. The same should be true for the students passing english. (Hint: you can pass a list to 
#    the .sort_values method)

In [ ]:
# d. Sort the english grades first by passing_english, and then by the actual english grade, similar to 
#    how we did in the last step.

In [ ]:
# e. Calculate each students overall grade and add it as a column on the dataframe. The overall grade is 
#    the average of the math, english, and reading grades.

## 2.Load the mpg dataset. Read the documentation for the dataset and use it for the following questions:

In [9]:
mpg = data('mpg')
mpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

In [ ]:
# a. How many rows and columns are there?

In [ ]:
# b. What are the data types of each column?

In [ ]:
# c. Summarize the dataframe with .info and .describe

In [ ]:
# d. Rename the cty column to city.

In [ ]:
# e. Rename the hwy column to highway.

In [ ]:
# f. Do any cars have better city mileage than highway mileage?

In [ ]:
# g. Create a column named mileage_difference this column should contain the difference between highway and  
#    city mileage for each car.

In [ ]:
# h. Which car (or cars) has the highest mileage difference?

In [ ]:
# i. Which compact class car has the lowest highway mileage? The best?

In [ ]:
# j. Create a column named average_mileage that is the mean of the city and highway mileage.

In [ ]:
# k. Which dodge car has the best average mileage? The worst?

## 3. Load the Mammals dataset. Read the documentation for it, and use the data to answer these questions:

In [10]:
mammals = data('mammals')
mammals.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62 entries, Arctic fox to Red fox
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   body    62 non-null     float64
 1   brain   62 non-null     float64
dtypes: float64(2)
memory usage: 1.5+ KB

In [ ]:
# a. How many rows and columns are there?

In [ ]:
# b. What are the data types?

In [ ]:
# c. Summarize the dataframe with .info and .describe

In [ ]:
# d. What is the the weight of the fastest animal?

In [ ]:
# e. What is the overal percentage of specials?

In [ ]:
# f. How many animals are hoppers that are above the median speed? What percentage is this?