## Corey Solitaire
## 8/13
## Dataframes Lesson

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from pydataset import data

   ## 1. Copy the code from the lesson to create a dataframe full of student                  grades.

In [13]:
np.random.seed(123)

students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# randomly generate scores for each student for each subject
# note that all the values need to have the same length here
math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))

student_grades = pd.DataFrame({'name': students,
                   'math': math_grades,
                   'english': english_grades,
                   'reading': reading_grades})

type(df)

pandas.core.frame.DataFrame

In [25]:
# a. Create a column named passing_english that indicates whether each student has a passing grade in reading.
student_grades['passing_english'] = student_grades.english > 70
student_grades

       name  math  english  reading  passing_english
0     Sally    62       85       80             True
1      Jane    88       79       67             True
2     Suzie    94       74       95             True
3     Billy    98       96       88             True
4       Ada    77       92       98             True
5      John    79       76       93             True
6    Thomas    82       64       81            False
7     Marie    93       63       90            False
8    Albert    92       62       87            False
9   Richard    69       80       94             True
10    Isaac    92       99       93             True
11     Alan    92       62       72            False

In [40]:
# b. Sort the english grades by the passing_english column. How are duplicates handled?
        
passing_english = student_grades.sort_values(by = 'passing_english')
passing_english
# The sort returns boolean values, so there are no duplicates

       name  math  english  reading  passing_english
6    Thomas    82       64       81            False
7     Marie    93       63       90            False
8    Albert    92       62       87            False
11     Alan    92       62       72            False
0     Sally    62       85       80             True
1      Jane    88       79       67             True
2     Suzie    94       74       95             True
3     Billy    98       96       88             True
4       Ada    77       92       98             True
5      John    79       76       93             True
9   Richard    69       80       94             True
10    Isaac    92       99       93             True

In [54]:
# c. Sort the english grades first by passing_english and then by student name. All the students that are 
#    failing english should be first, and within the students that are failing english they should be ordered 
#    alphabetically. The same should be true for the students passing english. (Hint: you can pass a list to 
#    the .sort_values method)


sorted_grades = student_grades.sort_values(by = 'passing_english').groupby(['passing_english']).apply(lambda x: x.sort_values([
    'name'
]))
sorted_grades

                       name  math  english  reading  passing_english
passing_english
False           11     Alan    92       62       72            False
                8    Albert    92       62       87            False
                7     Marie    93       63       90            False
                6    Thomas    82       64       81            False
True            4       Ada    77       92       98             True
                3     Billy    98       96       88             True
                10    Isaac    92       99       93             True
                1      Jane    88       79       67             True
                5      John    79       76       93             True
                9   Richard    69       80       94             True
                0     Sally    62       85       80             True
                2     Suzie    94       74       95             True

In [55]:
# d. Sort the english grades first by passing_english, and then by the actual english grade, similar to 
#    how we did in the last step.
             
    
more_sorted_grades = student_grades.sort_values(by = 'passing_english').groupby(['passing_english']).apply(lambda x: x.sort_values([
    'english'
]))
more_sorted_grades

                       name  math  english  reading  passing_english
passing_english
False           8    Albert    92       62       87            False
                11     Alan    92       62       72            False
                7     Marie    93       63       90            False
                6    Thomas    82       64       81            False
True            2     Suzie    94       74       95             True
                5      John    79       76       93             True
                1      Jane    88       79       67             True
                9   Richard    69       80       94             True
                0     Sally    62       85       80             True
                4       Ada    77       92       98             True
                3     Billy    98       96       88             True
                10    Isaac    92       99       93             True

In [66]:
# e. Calculate each students overall grade and add it as a column on the dataframe. The overall grade is 
#    the average of the math, english, and reading grades.

overall_grade = (student_grades.math + student_grades.english + student_grades.reading) / 3
# overall_grade

student_grades['overall_grade'] = overall_grade
student_grades

       name  math  english  reading  passing_english  overall_grade
0     Sally    62       85       80             True      75.666667
1      Jane    88       79       67             True      78.000000
2     Suzie    94       74       95             True      87.666667
3     Billy    98       96       88             True      94.000000
4       Ada    77       92       98             True      89.000000
5      John    79       76       93             True      82.666667
6    Thomas    82       64       81            False      75.666667
7     Marie    93       63       90            False      82.000000
8    Albert    92       62       87            False      80.333333
9   Richard    69       80       94             True      81.000000
10    Isaac    92       99       93             True      94.666667
11     Alan    92       62       72            False      75.333333

## 2.Load the mpg dataset. Read the documentation for the dataset and use it for the following questions:

In [71]:
mpg_df = data('mpg')
mpg_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

In [72]:
# a. How many rows and columns are there?
mpg_df.shape
# Tuple (Rows/Columns)

(234, 11)

In [73]:
mpg_df.info

<bound method DataFrame.info of     manufacturer   model  displ  year  cyl       trans drv  cty  hwy fl  \
1           audi      a4    1.8  1999    4    auto(l5)   f   18   29  p
2           audi      a4    1.8  1999    4  manual(m5)   f   21   29  p
3           audi      a4    2.0  2008    4  manual(m6)   f   20   31  p
4           audi      a4    2.0  2008    4    auto(av)   f   21   30  p
5           audi      a4    2.8  1999    6    auto(l5)   f   16   26  p
..           ...     ...    ...   ...  ...         ...  ..  ...  ... ..
230   volkswagen  passat    2.0  2008    4    auto(s6)   f   19   28  p
231   volkswagen  passat    2.0  2008    4  manual(m6)   f   21   29  p
232   volkswagen  passat    2.8  1999    6    auto(l5)   f   16   26  p
233   volkswagen  passat    2.8  1999    6  manual(m5)   f   18   26  p
234   volkswagen  passat    3.6  2008    6    auto(s6)   f   17   26  p

       class
1    compact
2    compact
3    compact
4    compact
5    compact
..       ...
230  midsize
231  midsize
232  midsize
233  midsize
234  midsize

[234 rows x 11 columns]>

In [74]:
# b. What are the data types of each column?
mpg_df.dtypes

manufacturer     object
model            object
displ           float64
year              int64
cyl               int64
trans            object
drv              object
cty               int64
hwy               int64
fl               object
class            object
dtype: object

In [77]:
# c. Summarize the dataframe with .info and .describe
mpg_df.info

<bound method DataFrame.info of     manufacturer   model  displ  year  cyl       trans drv  cty  hwy fl  \
1           audi      a4    1.8  1999    4    auto(l5)   f   18   29  p
2           audi      a4    1.8  1999    4  manual(m5)   f   21   29  p
3           audi      a4    2.0  2008    4  manual(m6)   f   20   31  p
4           audi      a4    2.0  2008    4    auto(av)   f   21   30  p
5           audi      a4    2.8  1999    6    auto(l5)   f   16   26  p
..           ...     ...    ...   ...  ...         ...  ..  ...  ... ..
230   volkswagen  passat    2.0  2008    4    auto(s6)   f   19   28  p
231   volkswagen  passat    2.0  2008    4  manual(m6)   f   21   29  p
232   volkswagen  passat    2.8  1999    6    auto(l5)   f   16   26  p
233   volkswagen  passat    2.8  1999    6  manual(m5)   f   18   26  p
234   volkswagen  passat    3.6  2008    6    auto(s6)   f   17   26  p

       class
1    compact
2    compact
3    compact
4    compact
5    compact
..       ...
230  midsize
231  midsize
232  midsize
233  midsize
234  midsize

[234 rows x 11 columns]>

In [78]:
mpg_df.describe

<bound method NDFrame.describe of     manufacturer   model  displ  year  cyl       trans drv  cty  hwy fl  \
1           audi      a4    1.8  1999    4    auto(l5)   f   18   29  p
2           audi      a4    1.8  1999    4  manual(m5)   f   21   29  p
3           audi      a4    2.0  2008    4  manual(m6)   f   20   31  p
4           audi      a4    2.0  2008    4    auto(av)   f   21   30  p
5           audi      a4    2.8  1999    6    auto(l5)   f   16   26  p
..           ...     ...    ...   ...  ...         ...  ..  ...  ... ..
230   volkswagen  passat    2.0  2008    4    auto(s6)   f   19   28  p
231   volkswagen  passat    2.0  2008    4  manual(m6)   f   21   29  p
232   volkswagen  passat    2.8  1999    6    auto(l5)   f   16   26  p
233   volkswagen  passat    2.8  1999    6  manual(m5)   f   18   26  p
234   volkswagen  passat    3.6  2008    6    auto(s6)   f   17   26  p

       class
1    compact
2    compact
3    compact
4    compact
5    compact
..       ...
230  midsize
231  midsize
232  midsize
233  midsize
234  midsize

[234 rows x 11 columns]>

In [84]:
# d. Rename the cty column to city.
mpg_df.rename(columns = {'cty':'city'}, inplace = True)
mpg_df

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [85]:
# e. Rename the hwy column to highway.
mpg_df.rename(columns = {'hwy':'highway'}, inplace = True)
mpg_df

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [138]:
# f. Do any cars have better city mileage than highway mileage?

#This gives the answer but I want to dig deeper
#mpg_df.sort_values(by = 'city', ascending = False)
# pd.set_option("display.max_rows", None)
# city_or_highway = mpg_df.sort_values(by = 'city').groupby(['city']).apply(lambda x: x.sort_values(['highway']))  
# city_or_highway

better_city = (mpg_df.city) >= (mpg_df.highway)
better_city.value_counts()

False    234
dtype: int64

In [140]:
# g. Create a column named mileage_difference this column should contain the difference between highway 
#    and city mileage for each car.

mpg_df['mileage_difference'] = (mpg_df.highway)-(mpg_df.city)
mpg_df

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,8
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,9
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,8
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,9
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,8
11,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact,8
12,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact,10
13,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact,8
14,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact,8
15,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact,10
16,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize,9
17,audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize,8
18,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize,7
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv,6
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11,15,e,suv,4
21,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv,6
22,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv,4
23,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv,5
24,chevrolet,corvette,5.7,1999,8,manual(m6),r,16,26,p,2seater,10
25,chevrolet,corvette,5.7,1999,8,auto(l4),r,15,23,p,2seater,8
26,chevrolet,corvette,6.2,2008,8,manual(m6),r,16,26,p,2seater,10
27,chevrolet,corvette,6.2,2008,8,auto(s6),r,15,25,p,2seater,10
28,chevrolet,corvette,7.0,2008,8,manual(m6),r,15,24,p,2seater,9
29,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,14,19,r,suv,5
30,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,11,14,e,suv,3
31,chevrolet,k1500 tahoe 4wd,5.7,1999,8,auto(l4),4,11,15,r,suv,4
32,chevrolet,k1500 tahoe 4wd,6.5,1999,8,auto(l4),4,14,17,d,suv,3
33,chevrolet,malibu,2.4,1999,4,auto(l4),f,19,27,r,midsize,8
34,chevrolet,malibu,2.4,2008,4,auto(l4),f,22,30,r,midsize,8
35,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize,8
36,chevrolet,malibu,3.5,2008,6,auto(l4),f,18,29,r,midsize,11
37,chevrolet,malibu,3.6,2008,6,auto(s6),f,17,26,r,midsize,9
38,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan,6
39,dodge,caravan 2wd,3.0,1999,6,auto(l4),f,17,24,r,minivan,7
40,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan,6
41,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan,6
42,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan,7
43,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan,7
44,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,11,17,e,minivan,6
45,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan,7
46,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,21,r,minivan,6
47,dodge,caravan 2wd,3.8,2008,6,auto(l6),f,16,23,r,minivan,7
48,dodge,caravan 2wd,4.0,2008,6,auto(l6),f,16,23,r,minivan,7
49,dodge,dakota pickup 4wd,3.7,2008,6,manual(m6),4,15,19,r,pickup,4
50,dodge,dakota pickup 4wd,3.7,2008,6,auto(l4),4,14,18,r,pickup,4
51,dodge,dakota pickup 4wd,3.9,1999,6,auto(l4),4,13,17,r,pickup,4
52,dodge,dakota pickup 4wd,3.9,1999,6,manual(m5),4,14,17,r,pickup,3
53,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup,5
54,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup,5
55,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,3
56,dodge,dakota pickup 4wd,5.2,1999,8,manual(m5),4,11,17,r,pickup,6
57,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup,4
58,dodge,durango 4wd,3.9,1999,6,auto(l4),4,13,17,r,suv,4
59,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv,4
60,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv,3
61,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv,4
62,dodge,durango 4wd,5.2,1999,8,auto(l4),4,11,16,r,suv,5
63,dodge,durango 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv,5
64,dodge,durango 4wd,5.9,1999,8,auto(l4),4,11,15,r,suv,4
65,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup,4
66,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,3
67,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup,4
68,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup,4
69,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup,4
70,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,9,12,e,pickup,3
71,dodge,ram 1500 pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup,4
72,dodge,ram 1500 pickup 4wd,5.2,1999,8,manual(m5),4,11,16,r,pickup,5
73,dodge,ram 1500 pickup 4wd,5.7,2008,8,auto(l5),4,13,17,r,pickup,4
74,dodge,ram 1500 pickup 4wd,5.9,1999,8,auto(l4),4,11,15,r,pickup,4
75,ford,expedition 2wd,4.6,1999,8,auto(l4),r,11,17,r,suv,6
76,ford,expedition 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv,6
77,ford,expedition 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv,6
78,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,3
79,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv,4
80,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,3
81,ford,explorer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv,6
82,ford,explorer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv,6
83,ford,explorer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv,4
84,ford,f150 pickup 4wd,4.2,1999,6,auto(l4),4,14,17,r,pickup,3
85,ford,f150 pickup 4wd,4.2,1999,6,manual(m5),4,14,17,r,pickup,3
86,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup,3
87,ford,f150 pickup 4wd,4.6,1999,8,auto(l4),4,13,16,r,pickup,3
88,ford,f150 pickup 4wd,4.6,2008,8,auto(l4),4,13,17,r,pickup,4
89,ford,f150 pickup 4wd,5.4,1999,8,auto(l4),4,11,15,r,pickup,4
90,ford,f150 pickup 4wd,5.4,2008,8,auto(l4),4,13,17,r,pickup,4
91,ford,mustang,3.8,1999,6,manual(m5),r,18,26,r,subcompact,8
92,ford,mustang,3.8,1999,6,auto(l4),r,18,25,r,subcompact,7
93,ford,mustang,4.0,2008,6,manual(m5),r,17,26,r,subcompact,9
94,ford,mustang,4.0,2008,6,auto(l5),r,16,24,r,subcompact,8
95,ford,mustang,4.6,1999,8,auto(l4),r,15,21,r,subcompact,6
96,ford,mustang,4.6,1999,8,manual(m5),r,15,22,r,subcompact,7
97,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact,8
98,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact,7
99,ford,mustang,5.4,2008,8,manual(m6),r,14,20,p,subcompact,6
100,honda,civic,1.6,1999,4,manual(m5),f,28,33,r,subcompact,5
101,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact,8
102,honda,civic,1.6,1999,4,manual(m5),f,25,32,r,subcompact,7
103,honda,civic,1.6,1999,4,manual(m5),f,23,29,p,subcompact,6
104,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact,8
105,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact,8
106,honda,civic,1.8,2008,4,auto(l5),f,25,36,r,subcompact,11
107,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,subcompact,12
108,honda,civic,2.0,2008,4,manual(m6),f,21,29,p,subcompact,8
109,hyundai,sonata,2.4,1999,4,auto(l4),f,18,26,r,midsize,8
110,hyundai,sonata,2.4,1999,4,manual(m5),f,18,27,r,midsize,9
111,hyundai,sonata,2.4,2008,4,auto(l4),f,21,30,r,midsize,9
112,hyundai,sonata,2.4,2008,4,manual(m5),f,21,31,r,midsize,10
113,hyundai,sonata,2.5,1999,6,auto(l4),f,18,26,r,midsize,8
114,hyundai,sonata,2.5,1999,6,manual(m5),f,18,26,r,midsize,8
115,hyundai,sonata,3.3,2008,6,auto(l5),f,19,28,r,midsize,9
116,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact,7
117,hyundai,tiburon,2.0,1999,4,manual(m5),f,19,29,r,subcompact,10
118,hyundai,tiburon,2.0,2008,4,manual(m5),f,20,28,r,subcompact,8
119,hyundai,tiburon,2.0,2008,4,auto(l4),f,20,27,r,subcompact,7
120,hyundai,tiburon,2.7,2008,6,auto(l4),f,17,24,r,subcompact,7
121,hyundai,tiburon,2.7,2008,6,manual(m6),f,16,24,r,subcompact,8
122,hyundai,tiburon,2.7,2008,6,manual(m5),f,17,24,r,subcompact,7
123,jeep,grand cherokee 4wd,3.0,2008,6,auto(l5),4,17,22,d,suv,5
124,jeep,grand cherokee 4wd,3.7,2008,6,auto(l5),4,15,19,r,suv,4
125,jeep,grand cherokee 4wd,4.0,1999,6,auto(l4),4,15,20,r,suv,5
126,jeep,grand cherokee 4wd,4.7,1999,8,auto(l4),4,14,17,r,suv,3
127,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv,3
128,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,14,19,r,suv,5
129,jeep,grand cherokee 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv,5
130,jeep,grand cherokee 4wd,6.1,2008,8,auto(l5),4,11,14,p,suv,3
131,land rover,range rover,4.0,1999,8,auto(l4),4,11,15,p,suv,4
132,land rover,range rover,4.2,2008,8,auto(s6),4,12,18,r,suv,6
133,land rover,range rover,4.4,2008,8,auto(s6),4,12,18,r,suv,6
134,land rover,range rover,4.6,1999,8,auto(l4),4,11,15,p,suv,4
135,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv,6
136,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,16,p,suv,5
137,lincoln,navigator 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv,6
138,mercury,mountaineer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,3
139,mercury,mountaineer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv,6
140,mercury,mountaineer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv,6
141,mercury,mountaineer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv,4
142,nissan,altima,2.4,1999,4,manual(m5),f,21,29,r,compact,8
143,nissan,altima,2.4,1999,4,auto(l4),f,19,27,r,compact,8
144,nissan,altima,2.5,2008,4,auto(av),f,23,31,r,midsize,8
145,nissan,altima,2.5,2008,4,manual(m6),f,23,32,r,midsize,9
146,nissan,altima,3.5,2008,6,manual(m6),f,19,27,p,midsize,8
147,nissan,altima,3.5,2008,6,auto(av),f,19,26,p,midsize,7
148,nissan,maxima,3.0,1999,6,auto(l4),f,18,26,r,midsize,8
149,nissan,maxima,3.0,1999,6,manual(m5),f,19,25,r,midsize,6
150,nissan,maxima,3.5,2008,6,auto(av),f,19,25,p,midsize,6
151,nissan,pathfinder 4wd,3.3,1999,6,auto(l4),4,14,17,r,suv,3
152,nissan,pathfinder 4wd,3.3,1999,6,manual(m5),4,15,17,r,suv,2
153,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv,6
154,nissan,pathfinder 4wd,5.6,2008,8,auto(s5),4,12,18,p,suv,6
155,pontiac,grand prix,3.1,1999,6,auto(l4),f,18,26,r,midsize,8
156,pontiac,grand prix,3.8,1999,6,auto(l4),f,16,26,p,midsize,10
157,pontiac,grand prix,3.8,1999,6,auto(l4),f,17,27,r,midsize,10
158,pontiac,grand prix,3.8,2008,6,auto(l4),f,18,28,r,midsize,10
159,pontiac,grand prix,5.3,2008,8,auto(s4),f,16,25,p,midsize,9
160,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv,7
161,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv,6
162,subaru,forester awd,2.5,2008,4,manual(m5),4,20,27,r,suv,7
163,subaru,forester awd,2.5,2008,4,manual(m5),4,19,25,p,suv,6
164,subaru,forester awd,2.5,2008,4,auto(l4),4,20,26,r,suv,6
165,subaru,forester awd,2.5,2008,4,auto(l4),4,18,23,p,suv,5
166,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact,5
167,subaru,impreza awd,2.2,1999,4,manual(m5),4,19,26,r,subcompact,7
168,subaru,impreza awd,2.5,1999,4,manual(m5),4,19,26,r,subcompact,7
169,subaru,impreza awd,2.5,1999,4,auto(l4),4,19,26,r,subcompact,7
170,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,25,p,compact,5
171,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,27,r,compact,7
172,subaru,impreza awd,2.5,2008,4,manual(m5),4,19,25,p,compact,6
173,subaru,impreza awd,2.5,2008,4,manual(m5),4,20,27,r,compact,7
174,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv,5
175,toyota,4runner 4wd,2.7,1999,4,auto(l4),4,16,20,r,suv,4
176,toyota,4runner 4wd,3.4,1999,6,auto(l4),4,15,19,r,suv,4
177,toyota,4runner 4wd,3.4,1999,6,manual(m5),4,15,17,r,suv,2
178,toyota,4runner 4wd,4.0,2008,6,auto(l5),4,16,20,r,suv,4
179,toyota,4runner 4wd,4.7,2008,8,auto(l5),4,14,17,r,suv,3
180,toyota,camry,2.2,1999,4,manual(m5),f,21,29,r,midsize,8
181,toyota,camry,2.2,1999,4,auto(l4),f,21,27,r,midsize,6
182,toyota,camry,2.4,2008,4,manual(m5),f,21,31,r,midsize,10
183,toyota,camry,2.4,2008,4,auto(l5),f,21,31,r,midsize,10
184,toyota,camry,3.0,1999,6,auto(l4),f,18,26,r,midsize,8
185,toyota,camry,3.0,1999,6,manual(m5),f,18,26,r,midsize,8
186,toyota,camry,3.5,2008,6,auto(s6),f,19,28,r,midsize,9
187,toyota,camry solara,2.2,1999,4,auto(l4),f,21,27,r,compact,6
188,toyota,camry solara,2.2,1999,4,manual(m5),f,21,29,r,compact,8
189,toyota,camry solara,2.4,2008,4,manual(m5),f,21,31,r,compact,10
190,toyota,camry solara,2.4,2008,4,auto(s5),f,22,31,r,compact,9
191,toyota,camry solara,3.0,1999,6,auto(l4),f,18,26,r,compact,8
192,toyota,camry solara,3.0,1999,6,manual(m5),f,18,26,r,compact,8
193,toyota,camry solara,3.3,2008,6,auto(s5),f,18,27,r,compact,9
194,toyota,corolla,1.8,1999,4,auto(l3),f,24,30,r,compact,6
195,toyota,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact,9
196,toyota,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact,9
197,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact,9
198,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact,9
199,toyota,land cruiser wagon 4wd,4.7,1999,8,auto(l4),4,11,15,r,suv,4
200,toyota,land cruiser wagon 4wd,5.7,2008,8,auto(s6),4,13,18,r,suv,5
201,toyota,toyota tacoma 4wd,2.7,1999,4,manual(m5),4,15,20,r,pickup,5
202,toyota,toyota tacoma 4wd,2.7,1999,4,auto(l4),4,16,20,r,pickup,4
203,toyota,toyota tacoma 4wd,2.7,2008,4,manual(m5),4,17,22,r,pickup,5
204,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup,2
205,toyota,toyota tacoma 4wd,3.4,1999,6,auto(l4),4,15,19,r,pickup,4
206,toyota,toyota tacoma 4wd,4.0,2008,6,manual(m6),4,15,18,r,pickup,3
207,toyota,toyota tacoma 4wd,4.0,2008,6,auto(l5),4,16,20,r,pickup,4
208,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact,8
209,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact,7
210,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact,8
211,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact,7
212,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact,7
213,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,11
214,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact,8
215,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact,7
216,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact,7
217,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact,8
218,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact,8
219,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact,8
220,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact,7
221,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact,7
222,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact,9
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,12
224,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact,8
225,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact,7
226,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact,8
227,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact,9
228,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize,8
229,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize,11
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9

In [145]:
# h. Which car (or cars) has the highest mileage difference?

mpg_df.sort_values(by = 'mileage_difference', ascending =False).nlargest(n=1, columns='mileage_difference',  keep='all')

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference
107,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,subcompact,12
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,12

In [185]:
# i. Which compact class car has the lowest highway mileage? The best?

mpg_df.man



#.groupby(['passing_english'])

1            audi
2            audi
3            audi
4            audi
5            audi
6            audi
7            audi
8            audi
9            audi
10           audi
11           audi
12           audi
13           audi
14           audi
15           audi
16           audi
17           audi
18           audi
19      chevrolet
20      chevrolet
21      chevrolet
22      chevrolet
23      chevrolet
24      chevrolet
25      chevrolet
26      chevrolet
27      chevrolet
28      chevrolet
29      chevrolet
30      chevrolet
31      chevrolet
32      chevrolet
33      chevrolet
34      chevrolet
35      chevrolet
36      chevrolet
37      chevrolet
38          dodge
39          dodge
40          dodge
41          dodge
42          dodge
43          dodge
44          dodge
45          dodge
46          dodge
47          dodge
48          dodge
49          dodge
50          dodge
51          dodge
52          dodge
53          dodge
54          dodge
55          dodge
56          dodge
57          dodge
58          dodge
59          dodge
60          dodge
61          dodge
62          dodge
63          dodge
64          dodge
65          dodge
66          dodge
67          dodge
68          dodge
69          dodge
70          dodge
71          dodge
72          dodge
73          dodge
74          dodge
75           ford
76           ford
77           ford
78           ford
79           ford
80           ford
81           ford
82           ford
83           ford
84           ford
85           ford
86           ford
87           ford
88           ford
89           ford
90           ford
91           ford
92           ford
93           ford
94           ford
95           ford
96           ford
97           ford
98           ford
99           ford
100         honda
101         honda
102         honda
103         honda
104         honda
105         honda
106         honda
107         honda
108         honda
109       hyundai
110       hyundai
111       hyundai
112       hyundai
113       hyundai
114       hyundai
115       hyundai
116       hyundai
117       hyundai
118       hyundai
119       hyundai
120       hyundai
121       hyundai
122       hyundai
123          jeep
124          jeep
125          jeep
126          jeep
127          jeep
128          jeep
129          jeep
130          jeep
131    land rover
132    land rover
133    land rover
134    land rover
135       lincoln
136       lincoln
137       lincoln
138       mercury
139       mercury
140       mercury
141       mercury
142        nissan
143        nissan
144        nissan
145        nissan
146        nissan
147        nissan
148        nissan
149        nissan
150        nissan
151        nissan
152        nissan
153        nissan
154        nissan
155       pontiac
156       pontiac
157       pontiac
158       pontiac
159       pontiac
160        subaru
161        subaru
162        subaru
163        subaru
164        subaru
165        subaru
166        subaru
167        subaru
168        subaru
169        subaru
170        subaru
171        subaru
172        subaru
173        subaru
174        toyota
175        toyota
176        toyota
177        toyota
178        toyota
179        toyota
180        toyota
181        toyota
182        toyota
183        toyota
184        toyota
185        toyota
186        toyota
187        toyota
188        toyota
189        toyota
190        toyota
191        toyota
192        toyota
193        toyota
194        toyota
195        toyota
196        toyota
197        toyota
198        toyota
199        toyota
200        toyota
201        toyota
202        toyota
203        toyota
204        toyota
205        toyota
206        toyota
207        toyota
208    volkswagen
209    volkswagen
210    volkswagen
211    volkswagen
212    volkswagen
213    volkswagen
214    volkswagen
215    volkswagen
216    volkswagen
217    volkswagen
218    volkswagen
219    volkswagen
220    volkswagen
221    volkswagen
222    volkswagen
223    volkswagen
224    volkswagen
225    volkswagen
226    volkswagen
227    volkswagen
228    volkswagen
229    volkswagen
230    volkswagen
231    volkswagen
232    volkswagen
233    volkswagen
234    volkswagen
Name: man, dtype: object

In [ ]:
# j. Create a column named average_mileage that is the mean of the city and highway mileage.

In [ ]:
# k. Which dodge car has the best average mileage? The worst?

## 3. Load the Mammals dataset. Read the documentation for it, and use the data to answer these questions:

In [10]:
mammals = data('mammals')
mammals.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62 entries, Arctic fox to Red fox
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   body    62 non-null     float64
 1   brain   62 non-null     float64
dtypes: float64(2)
memory usage: 1.5+ KB

In [ ]:
# a. How many rows and columns are there?

In [ ]:
# b. What are the data types?

In [ ]:
# c. Summarize the dataframe with .info and .describe

In [ ]:
# d. What is the the weight of the fastest animal?

In [ ]:
# e. What is the overal percentage of specials?

In [ ]:
# f. How many animals are hoppers that are above the median speed? What percentage is this?