## Pandas Series Exercise
 - Corey Solitaire
 - 8/11/2020

In [6]:
import numpy as np
import pandas as pd

1. Use pandas to create a Series from the following data:

["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

    a. Name the variable that holds the series fruits.

In [9]:
fruit_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
fruit_series

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

    b. Run .describe() on the series to see what describe returns for a series of strings.

    c. Run the code necessary to produce only the unique fruit names.

    d. Determine how many times each value occurs in the series.

    e. Determine the most frequently occurring fruit name from the series.

    f. Determine the least frequently occurring fruit name from the series.

    g. Write the code to get the longest string from the fruits series.

    h. Find the fruit(s) with 5 or more letters in the name.

    i. Capitalize all the fruit strings in the series.

    j. Count the letter "a" in all the fruits (use string vectorization)

    k. Output the number of vowels in each and every fruit.

    l. Use the .apply method and a lambda function to find the fruit(s) containing two or more "o" letters in the 
       name.

    m. Write the code to get only the fruits containing "berry" in the name

    n. Write the code to get only the fruits containing "apple" in the name

    o. Which fruit has the highest amount of vowels?

2. Use pandas to create a Series from the following data:

['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23']

    a. What is the data type of the series?

    b. Use series operations to convert the series to a numeric data type.

    c. What is the maximum value? The minimum?

    d. Bin the data into 4 equally sized intervals and show how many values fall into each bin.

    e. Plot a histogram of the data. Be sure to include a title and axis labels.

3. Use pandas to create a Series from the following exam scores:

[60, 86, 75, 62, 93, 71, 60, 83, 95, 78, 65, 72, 69, 81, 96, 80, 85, 92, 82, 78]

    a. What is the minimum exam score? The max, mean, median?

    b. Plot a histogram of the scores.

    c. Convert each of the numbers above into a letter grade. For example, 86 should be a 'B' and 95 should be an 
       'A'.

    d. Write the code necessary to implement a curve. I.e. that grade closest to 100 should be converted to a 100, 
       and that many points should be given to every other score as well.

4. Use pandas to create a Series from the following string:

'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'

    a. What is the most frequently occuring letter? Least frequently occuring?

    b. How many vowels are in the list?

    c. How many consonants are in the list?

    d. Create a series that has all of the same letters, but uppercased

    e. Create a bar plot of the frequencies of the 6 most frequently occuring letters.

## 5. Ryan Problems

In [1]:
## 17 list comprehension problems in python

fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]

In [5]:
## Example for loop solution to add 1 to each number in the list
numbers_plus_one = []
for number in numbers:
    numbers_plus_one.append(number + 1)

In [4]:
## Example of using a list comprehension to create a list of the numbers plus one.
numbers_plus_one = [number + 1 for number in numbers]

In [3]:
## Example code that creates a list of all of the list of strings in fruits and uppercases every string
output = []
for fruit in fruits:
    output.append(fruit.upper())

  
## Exercise 1 - rewrite the above example code using list comprehension syntax. Make a variable named uppercased_fruits to hold the output of the list comprehension. Output should be ['MANGO', 'KIWI', etc...]

## Exercise 2 - create a variable named capitalized_fruits and use list comprehension syntax to produce output like ['Mango', 'Kiwi', 'Strawberry', etc...]

## Exercise 3 - Use a list comprehension to make a variable named fruits_with_more_than_two_vowels. Hint: You'll need a way to check if something is a vowel.

## Exercise 4 - make a variable named fruits_with_only_two_vowels. The result should be ['mango', 'kiwi', 'strawberry']

## Exercise 5 - make a list that contains each fruit with more than 5 characters

## Exercise 6 - make a list that contains each fruit with exactly 5 characters

## Exercise 7 - Make a list that contains fruits that have less than 5 characters

## Exercise 8 - Make a list containing the number of characters in each fruit. Output would be [5, 4, 10, etc... ]

## Exercise 9 - Make a variable named fruits_with_letter_a that contains a list of only the fruits that contain the letter "a"

## Exercise 10 - Make a variable named even_numbers that holds only the even numbers

## Exercise 11 - Make a variable named odd_numbers that holds only the odd numbers

## Exercise 12 - Make a variable named positive_numbers that holds only the positive numbers

## Exercise 13 - Make a variable named negative_numbers that holds only the negative numbers

## Exercise 14 - use a list comprehension w/ a conditional in order to produce a list of numbers with 2 or more numerals

## Exercise 15 - Make a variable named numbers_squared that contains the numbers list with each element squared. Output is [4, 9, 16, etc...]

## Exercise 16 - Make a variable named odd_negative_numbers that contains only the numbers that are both odd and negative.

## Exercise 17 - Make a variable named numbers_plus_5. In it, return a list containing each number plus five.

## BONUS Make a variable named "primes" that is a list containing the prime numbers in the numbers list. *Hint* you may want to make or find a helper function that determines if a given number is prime or not.